.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  padding: 20px;
}

@media (max-width: 600px) {
  .movie-card {
    width: 100%;
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
  }

  .search-bar form {
    flex-direction: column;
  }
}

.movie-card {
  border: 2px solid black;
  border-radius: 10px;
  height: 30%;
  width: 30%;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.03);
}

.movie-card img {
  height: 100px;
  width: 100px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.modal {
  display: none;
}

.modal-open {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 50px;
  max-width: 700px;
  border-radius: 10px;
}

.modal-image img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.sidebar {
  display: none;
}

.sidebar-open {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #282c34;
  z-index: 1000;
}

.navigation-bar-list {
  list-style-type: none;
  padding: 0;
}

.navigation-bar-list a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 10px;
  border-radius: 5px;
}

.navigation-bar-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
